@{
    ViewBag.Title = "HomeIndex";
}

<section class="header">
    <a href="#" class="logo"><h2>RIO</h2></a>
    <div class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#">@Html.ActionLink("Login", "Login", "Client")</a></li>
            <li><a href="#">@Html.ActionLink("Register Now", "Registration", "Client")</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact us</a></li>
        </ul>
    </div>
</section>

<section id="home" class="banner">
    <img src="~/Images/home-image/home_back.jpg" class="fitBg" />
    <div class="content">
        <h2>Welcome to RIO</h2>
        <p>
            We have all what you need
            We have all what you need
            We have all what you need
            We have all what you need
            We have all what you need
            We have all what you need
        </p>
        <a href="#" class="btn">Show me Products</a>
    </div>
</section>
<h3 style="margin: 20px; text-align:center; color:white;">Our Products</h3>
<section id="about" class="about">
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image1.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image2.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image3.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image4.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image5.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image6.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image7.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image8.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/Multi-Watches.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image10.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image11.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="~/Images/home-image/image12.jpg" />
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Dress of Tomas</h3>
                </div>
                <div class="price_rating">
                    <h2>$900.00</h2>
                    <div class="rating">
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                        <i class="fa grey fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="~/Content/myowenstyle/footer_style.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<footer id="contact">
    <div class="footer-content">
        <h3>RIO Application</h3>
        <p>I am officialy at the age where i hate fake friends,if you are the smartest person in the room then you are in  the wrong room</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook">FaceBook</i></a></li>
            <li><a href="#"><i class="fa fa-facebook">Twiter</i></a></li>
            <li><a href="#"><i class="fa fa-facebook">Instagram</i></a></li>
            <li><a href="#"><i class="fa fa-facebook">Youtube</i></a></li>
            <li><a href="#"><i class="fa fa-facebook">Google</i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2022 RIO.71 designed by <span>Fouad ALLAOUI</span></p>
    </div>
</footer>
