
@{
    ViewBag.Title = "GestionFournisseurs";
}

<style>
    body {
       @* background-image: url("../../Images/Admin_image/3.jpg");*@
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
    }
</style>


<h2>Gestion des Fournisseurs</h2>
<br />
@Html.ActionLink("Page Principale", "Index", "Admin")
<hr />
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add new Fournisseur
</button>
<br />
<br />

<table id="fournisseurTable" class="display">
    <!--class="table table-striped table-bordered" class="display"-->
    <thead>
        <tr>
            <th>ID</th>
            <th>Fournisseur Name</th>
            <th>Adresse</th>
            <th></th>
        </tr>
    </thead>
</table>

<!-- Modal Add -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Fournisseur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("AddFournisseur","Admin")" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name :</label>
                        <input type="text" name="nom" class="form-control" id="exampleInputEmail1" required="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Adresse :</label>
                        <input type="text" name="adresse" class="form-control" id="exampleInputEmail1" required="">
                    </div>
                    <button onclick="AddFournisseur()" type="submit" class="btn btn-success">Create Fournisseur</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--new link-->

<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />


@section Scripts {

    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script>
        var  dataTable;

        $(document).ready(function () {
            dataTable = $("#fournisseurTable").DataTable({
                "ajax": {
                    "url": "/Admin/GetFournisseurs",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FournisseurID" },
                    { "data": "Nom" },
                    { "data": "Adresse" },
                    {
                        "data": "FournisseurID",
                        "render": function (data) {
                            return "<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "language": {
                    "emptyTable": "No data found , click <b>Add new </b> to add a new Fournisseur! "
                }

            });
        });

        function AddFournisseur() {
            var form = document.querySelector('form');
            form.onsubmit = function (e) {
                dataTable.ajax.reload();
            }
        }

        function Delete(id) {
            if(confirm('Are You Sure to Delete this Client ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteFourniseur", "Admin")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }

    </script>



}




